vti_encoding:SR|utf8-nl
vti_author:SR|X0ne-PC\\X0ne
vti_modifiedby:SR|X0ne-PC\\X0ne
vti_timelastmodified:TR|28 Feb 2011 17:09:18 -0000
vti_timecreated:TR|28 Feb 2011 16:28:48 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|contact.html Header1.html home.html about.html register.html test1.html coming.html howitworks.html
vti_nexttolasttimemodified:TW|28 Feb 2011 17:08:41 -0000
vti_cacheddtm:TX|28 Feb 2011 17:09:18 -0000
vti_filesize:IR|118
